/* Common styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
 img {
    display: block;
}
a {
    text-decoration: none;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.button {
    cursor: pointer;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* /Common styles */
                     
/* Page Header styles */

.page-header {
color: #ffffff;
border-bottom: 1px solid #E7E9FC;
box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header {
    margin-right: 76px;
}

.logo-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.menu {
    display: flex;
    gap: 40px;
}                       

.menu-item-link {font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
position: relative;
color: #404bbf;
}

.current::after {
position: absolute;
content: "";
left: 0;
bottom: -1px;
background-color: #404bbf;
border-radius: 2px;
height: 4px;
width: 100%;
}

.menu-item-link.active {
    color: #404bbf;
}

.menu-item-link:hover,
.menu-item-link:focus {
    color: #404bbf;
}

.contact-block  {
font-style: normal;
margin-left: auto;  
}  

.contact-list {
    display: flex;
    gap: 40px;
}
.contact-data {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-data:hover,
.contact-data:focus {
    color: #404BBF;
}


/* /Page Header styles */

/* Hero Section style */

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-bg.jpg");
    background-size: cover;
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 24px;
}



.order-serv-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.order-serv-btn:hover,
.order-serv-btn:focus {
    background-color: #404BBF;
}

/* /Hero Section style */

/* Our Banefits Section style*/

.banefits-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* .banefits-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
 } */

.banefits-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.banefits-list-icon {
display: flex;
border: 1px solid #8e8f99;
border-radius: 4px;
height: 112px;
align-items: center;
justify-content: center;
margin-bottom: 8px;
background-color: #f4f4fd;
}

.banefits-item {
    flex-basis: calc((100% - 3 * 24px) / 4)
}
.banefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.banefits-subtitle-discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* /Our Banefits Section style*/


/* Team Members Section style*/
.team-members-section {
    background-color: #f4f4fd;
}

.team-members-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-members-list {
    display: flex;
    gap: 24px;
    padding-right: auto;  
}

.team-members-div-card {
    padding: 32px 0;

}
.team-members-portrait-item {
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
     width: calc((100%-72px) / 4);
    border-radius: 0 0 4px 4px;
}

.team-members-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.work-direction {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}

.social-media-list {
display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.social-media-list-item { 
height: 40px;
width: 40px;

}

.social-media-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icons {
    fill: #f4f4fd;
}
.social-media-links:hover,
.social-media-links:focus {
    background-color: #404bbf;
}
/* /Team Members Section style */

/* Team Portfolio Section style */

.portfolio-overlay {
    position: relative;
    display: flex;
    background-color: #ffffff;
    width: 360px;
    height: 300px;
    overflow: hidden;

}

.overlay-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    padding: 40px 32px;
    background-color: #4d5ae5;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap:wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    background-color: #ffffff;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}

.portfolio-div-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.released-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: start;
}

.product-direction {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: start;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* /Team Portfolio Section style */

/* Page Footer style */
.ending-section {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-logo-div {
    display: block;
    margin-right: 120px;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-part-ending {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.footer-media-block {
    display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 80px;
}
.footer-media-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #ffffff;
        margin-bottom: 16px;
}
.footer-media-list {
    display: flex;
    justify-content: center;
    gap: 16px;

    
}

.footer-media-link {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-media-link:hover, 
.footer-media-link:focus{
    background-color: #31d0aa;
}

.footer-media-link-icon {
    fill: #f4f4fd;
}    

.footer-subscribe-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-label {
    display: flex;
} 

.footer-subscribe-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-subscribe-input::placeholder{
    color: #ffffff;
}

.footer-subscribe-button {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        border-radius: 4px;
        border: none;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        cursor: pointer;
}

.subscribe-button-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: #404BBF;
}
/* /Page Footer style */

/* Backdrop Form style */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
/* /Backdrop Form style */

/* Modal Form style */
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0,0, 0.1);
    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #e7e9fc;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
border: none;
background-color: #404bbf;
}

.modal-close-button:hover > .modal-cls-btn-icon,
.modal-close-button:focus > .modal-cls-btn-icon {
fill: #ffffff;
}

.modal-cls-btn-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* /Modal Form style */

/* Callback Form style */
.callback-form-discription {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 360px;
    margin-bottom: 16px;
}

.callback-form-field-wrapper {
    margin-bottom: 8px;
}

.callback-form-field-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.callback-form-input-wrapper {
    position: relative;
}

.callback-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    font-size: 18px;
    color: #2e2f42;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-input:focus {
    border-color: #4d5ae5;
}

.callback-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%)
}

.callback-form-input:focus + .callback-form-field-icon {
    fill: #4d5ae5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.callback-form-taxterea-wrapper {
    margin-bottom: 16px;
}

.callback-form-textarea-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-textarea-input::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.callback-form-textarea-input:focus{
    border-color: #4d5ae5;
}

.callback-form-checkbox-wrapper {
    display: flex;
    margin-bottom: 24px;
   
}

.callback-form-privacy-checkbox {
    width: 16px;
        height: 16px;
}

.callback-form-checkbox-label {

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
       
        
}

.callback-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}


.callback-form-privacy-checkbox:checked + .callback-form-checkbox-label .callback-form-own-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}


.callback-form-checkbox-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-send-button{
    display: block;
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        margin-bottom: 24px;
        margin-right: auto;
        margin-left: auto;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-send-button:hover,
.callback-form-send-button:focus {
    background-color: #404BBF;
    
}
/* /Callback Form style */